@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-base antialiased;
    @apply bg-zinc-900;
    @apply text-zinc-400;
  }
}


@supports selector(:view-transition-name(article-content)) {
  #article-content {
    view-transition-name: article-content;
  }
  #article-content::view-transition-old(article-content) {
    opacity: 1;
  }
  #article-content::view-transition-new(article-content) {
    opacity: 0;
  }
}
